body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  position: relative;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#container,
#control-panel {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

#container canvas {
  background-color: black;
}

#fieldset {
  display: flex;
  height: 125px;
  padding-right: 50px;
}

#god-button {
  background-color: #FFEC27;
}

#water-button {
  background-color: #29ADFF;
}

#shear-button {
  background-color: #1D2B53;
}

#fieldset > div {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 5px solid #AB5236;
}

#fieldset .selected {
  border: 5px solid white;
}
