---
---

@import "{{ site.theme }}";

a {
  color: #E91E63;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #2196f3;
}

.page-header {
  background-color: #383838;
  background-image: none;
}

.main-content {
  font-size: 1rem;
}

.main-content hr {
  margin: 2rem 0;
  height: 7px;
}
